<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/User/SummerSDET2023"><classes><class name="com.digital.Main"><methods><include name="test1"/><include name="test12"/><include name="test13"/></methods></class><class name="com.digital.pages.WebTables"><methods><include name="checUserInTable"/><include name="checkDeleteBtn"/></methods></class></classes></test></suite>